Flask
Flask_Cors
matplotlib==3.7.1
numpy==1.24.2
Pillow==9.4.0
PyMySQL==1.0.2
flask_migrate==4.0.5
flask_sqlalchemy==3.0.5
flask_jwt_extended
gunicorn
pytz
redis
opencv-python-headless
flask_bcrypt
ffmpeg
paramiko
dbutils
requests